go 1.24.5

use (
	./clientmanager
	./eventmanager
	./examples
	./httpmanager
	./logmanager
)

replace (
	github.com/SALT-Indonesia/salt-pkg/httpmanager v0.12.0 => ./httpmanager
	github.com/SALT-Indonesia/salt-pkg/logmanager v1.34.0 => ./logmanager
)
